@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: 'Montserrat', sans-serif;
}

a {
  cursor: pointer;
}

button {
  border-radius: 0 !important;
}

ul, li {
  list-style: none;
}

ul span, ul i, li span, li i {
  color: #2a824a;
}

.form-control {
  border-radius: 0 !important;
  display: inline;
}

.form-group {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.form-info {
  margin-top: 1em;
  font-size: .7em;
}

.container {
  overflow: hidden;
}

.navbar .container {
  overflow: unset;
}

.section.container {
  padding: 2em 1em 4em 1em;
}

/* Carousel styling */
#introCarousel,
.carousel-inner,
.carousel-item,
.carousel-item.active {
  height: 100vh;
}

h1 {
  font-size: clamp(1.5em, 2vh, 10em) !important;
}

/* Height for devices larger than 576px */
#introCarousel {
  height: calc(100vh - 100px);
}

@media (max-width: 990px) {
  /* Height for devices larger than 576px */
  #introCarousel {
    height: 100vh;
  }
}

span {
  font-size: 1.1em;
  color: #fdfdfd;
  font-weight: 800;
}

video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.navbar {
  background-color: #2a824a;
}

.navbar .nav-link {
  color: #fff !important;
  padding: .5em .7em;
}

.navbar .nav-link:hover {
  background-color: #65e007 !important;
}

.mask {
  color: #fafafa;
  text-shadow: 0 0 2px black;
}

.mask h1 {
  text-transform: uppercase;
}

.mask p {
  font-size: clamp(0.9em, 1vh, 3em);
  margin: .5em 0;
  line-height: 1.8em;
  color: white;
}

@media (min-width: 990px) {
  .mask h1 {
    width: 75%;
    font-weight: 800;
  }
  .mask p {
    width: 65%;
    line-height: 2em;
  }
}

@media (max-width: 990px) {
  #introCarousel {
    margin-top: 0;
  }
  .navbar {
    position: fixed;
    z-index: 2000;
    top: 0;
    width: 100vw;
    display: none !important;
    background-color: white;
  }
  .navbar .navbar-toggler {
    color: #1f1f1f;
  }
  .navbar .nav-link {
    color: #141414 !important;
  }
}

.carousel {
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: bottom;
}

.carousel .mask {
  background-color: rgba(0, 0, 0, 0.719) !important;
}

.tag {
  text-align: left !important;
  background-color: rgba(41, 204, 54, 0.61);
  display: inline-block;
  padding: .5em 1em;
  text-transform: uppercase;
  font-weight: 600;
}

.logo {
  width: 150px;
  height: 83px;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

button span {
  margin-left: 5px;
}

.dropdown-menu {
  border-radius: 0;
}

.dropdown-menu li {
  border-radius: 0 !important;
  border-bottom: 1px solid #e4e4e4;
}

.dropdown-menu li:hover a {
  border-radius: 0 !important;
  color: white !important;
  background-color: #65e007 !important;
}

.section .section__title {
  text-align: center;
  font-size: 2em;
  font-weight: 800;
  text-align: left;
  margin: 1.5em 0;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}

.section .section__title::after {
  content: "";
  width: 75%;
  height: 8px;
  background-color: #18cd0a;
  background: linear-gradient(82deg, #161bed, #18cd0a);
  position: absolute;
  left: 0;
  top: 100%;
}

.slick-next, .slick-prev {
  width: 10px;
  height: 100%;
  z-index: 99;
}

.slick-next::after, .slick-next::before, .slick-prev::after, .slick-prev::before {
  color: #2a824a !important;
  border-radius: 0 !important;
}

@media (max-width: 600px) {
  .slick-arrow {
    display: none !important;
  }
  .news__content {
    height: 72vh !important;
  }
}

.news__content {
  position: relative;
  margin: .3em;
  overflow: hidden;
  height: 65vh;
  border: 1px solid lightgray;
  -webkit-box-shadow: 0 0 3px #a8a8a8;
          box-shadow: 0 0 3px #a8a8a8;
}

.news__content .categorie {
  position: absolute;
  top: 0;
  left: 0;
  padding: .3em .5em;
  background-color: var(--mdb-warning);
  color: white;
  font-weight: 300;
  font-size: .8em;
  -webkit-box-shadow: 0 0 15px #5c5c5c;
          box-shadow: 0 0 15px #5c5c5c;
}

.news__content .image {
  height: 100%;
}

.news__content .image img {
  height: 100%;
  -o-object-fit: 100%;
     object-fit: 100%;
}

.news__content:hover > .news-overlay {
  height: 85%;
}

.news__content:hover > .news-overlay h1, .news__content:hover > .news-overlay p, .news__content:hover > .news-overlay button, .news__content:hover > .news-overlay .date {
  display: block;
}

.news__content .news-overlay {
  position: absolute;
  -webkit-transition: height .5s;
  transition: height .5s;
  left: 0;
  right: 0;
  bottom: 0;
  height: 80px;
  background-color: #2a824a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 1em;
  color: white;
}

.news__content .news-overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 110%;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
  background-color: #2a824a;
  z-index: 4;
}

.news__content .news-overlay h1 {
  font-size: 1em !important;
  position: relative;
  z-index: 100;
  font-weight: 800;
  font-size: 1.2em;
}

.news__content .news-overlay p {
  font-size: .8em;
  display: none;
}

.news__content .news-overlay .metadata .date {
  font-size: .7em;
  font-weight: 300;
  color: #f3f3f3;
}

.news__content .news-overlay button {
  display: none;
}

.navbar__mobile {
  display: none;
}

.navbar__manu_open, .navbar__manu_close {
  display: none;
  position: absolute;
  left: 1em;
  top: 1em;
  z-index: 9999;
  background-color: transparent;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
}

@media (max-width: 990px) {
  .navbar__manu_open, .navbar__manu_close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 1em;
    top: 1em;
    z-index: 9999;
    background-color: transparent;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #636363;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: .3em;
  }
  .navbar__manu_open span, .navbar__manu_close span {
    margin: unset !important;
  }
  .navbar__manu_close {
    right: 1em;
    left: auto;
  }
  .navbar__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: -100%;
    top: 0;
    z-index: 99999;
    background-color: var(--mdb-primary);
    height: 100vh;
    width: 100vw;
    padding: 1em;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .navbar__mobile .navbar-nav .nav-link {
    color: white !important;
  }
  .navbar__mobile .navbar-nav .nav-link span, .navbar__mobile .navbar-nav .nav-link i {
    color: white !important;
  }
  .navbar__mobile .logo {
    margin-bottom: 1em;
  }
  .navbar__mobile.navbar-show {
    left: 0;
    width: 100%;
  }
}

.apropos-wrapper {
  background-color: #f5faaa;
  color: #1b1b1b;
  font-size: 1em !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.service {
  border: 1px solid #e4e3e3;
  -webkit-box-shadow: 0 0 75px #ddd;
          box-shadow: 0 0 75px #ddd;
  position: relative;
  padding: 2.5em 1em 1em;
  background-color: #fff;
  border-radius: 5px;
  margin: 2em;
  cursor: pointer;
}

.service:hover {
  -webkit-box-shadow: 0 0 20px #999999;
          box-shadow: 0 0 20px #999999;
}

.service:hover .image {
  -webkit-box-shadow: 0 -7px 8px #bdbcbc;
          box-shadow: 0 -7px 8px #bdbcbc;
}

.service .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: -30px;
  left: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 -7px 8px #999999;
          box-shadow: 0 0 -7px 8px #999999;
}

.service .image span {
  color: #2a824a;
}

.service .service_title h2 {
  font-size: clamp(1em, 2vh, 5em);
  font-weight: 700;
}

.service .service_body {
  margin-top: 1em;
}

.service .service_body p {
  font-size: .8em;
}

.apropos {
  font-size: 1em;
  line-height: 2em;
}

.apropos li {
  font-weight: 600;
}

.presence-wrapper {
  background-color: lightgray;
}

.presence {
  border-radius: 50%;
  border: 1px solid lightgray;
  background-color: #fff;
  height: 90px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: .5em;
  -webkit-box-shadow: 3px 5px 10px #8b8b8b;
          box-shadow: 3px 5px 10px #8b8b8b;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.presence img {
  max-width: 65px;
}

.presence:hover {
  -webkit-box-shadow: 3px 9px 15px #575757;
          box-shadow: 3px 9px 15px #575757;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.presence:hover .mark_metadata {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.presence .mark_metadata {
  display: none;
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  border-radius: 5px;
  -webkit-box-shadow: 3px 5px 10px #8b8b8b;
          box-shadow: 3px 5px 10px #8b8b8b;
  padding: 0.5em 1em;
}

.presence .mark_metadata h5 {
  font-size: .8em;
  padding: 0;
  margin: 0;
}

.adhesions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 4em;
}

.adhesion {
  border: 1px solid #2a824a;
  padding: 2em;
  position: relative;
  margin: 1em;
  width: 30%;
  height: 100% !important;
  background-color: white;
}

.adhesion::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #2a824a;
  z-index: -1;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.adhesion:hover {
  background-color: #c4e7bf;
}

.adhesion:hover::after {
  top: -1em;
  left: 1em;
}

.adhesion:hover .content .image {
  opacity: .3;
}

.adhesion .content .image {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: .1;
  z-index: 1;
  -webkit-transform: scale(1.1) translate(2em, 1em);
          transform: scale(1.1) translate(2em, 1em);
}

.adhesion .content .image span {
  font-size: 12em;
}

.adhesion .content .content-body {
  position: relative;
  z-index: 2;
}

.adhesion .content .content-body ul li {
  margin-top: 1em;
}

.adhesion .content .content-body ul li a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  font-weight: 600;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: clamp(0.8em, 1vh, 1em);
}

.adhesion .content .content-body ul li a span {
  margin-right: 1em;
}

.adhesion .content .content-body ul li:hover a {
  -webkit-transform: translateX(5px) scale(1.1);
          transform: translateX(5px) scale(1.1);
  color: black !important;
  font-weight: 600;
}

@media (max-width: 990px) {
  .adhesion {
    width: 100%;
  }
}

.contact-wrapper {
  background-color: lightgray;
}

.contact-wrapper .contact form {
  background-color: #fff;
  padding: 2em;
}

.contact-wrapper .contact .form-outline .form-control {
  overflow: hidden;
}

.footer {
  height: auto;
  padding-bottom: 0;
}

.footer .section {
  min-height: unset;
  padding: 3em;
  position: relative;
  padding-bottom: 1em;
}

.footer .section .footer-copywrite {
  margin-top: 3em;
  margin-bottom: 0;
}

.footer .navigation li:hover a {
  color: yellowgreen !important;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mark_metatdata {
  display: none;
  position: absolute;
  left: 0;
  bottom: 100%;
  width: 320px;
  background-color: #fff;
  color: black !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
}

.presence {
  position: relative;
}

.presence:hover .mark_metatdata {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 99999;
}

.apropos-cat img {
  height: 300px;
  width: auto;
}

@media (max-width: 990px) {
  .apropos-cat img {
    width: 100%;
    height: auto;
  }
}

.main {
  min-height: 100vh;
}

.card {
  position: relative;
  overflow: hidden;
}

.card .card-image {
  position: absolute;
  padding: 1em;
  z-index: 1;
  width: 30%;
  height: 30%;
}

.card .card-image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  opacity: .3;
  -o-object-position: center;
     object-position: center;
}

.card .card-body {
  position: relative;
  z-index: 2;
}

.hide {
  -webkit-animation: fade .6s linear forwards;
          animation: fade .6s linear forwards;
}

@-webkit-keyframes fade {
  99% {
    opacity: 0;
    display: none;
  }
  100% {
    position: absolute;
    left: -1000px;
    top: -1000px;
    display: none;
    opacity: 0;
  }
}

@keyframes fade {
  99% {
    opacity: 0;
    display: none;
  }
  100% {
    position: absolute;
    left: -1000px;
    top: -1000px;
    display: none;
    opacity: 0;
  }
}

.page_title {
  font-size: clamp(2em, 3vh, 7em) !important;
  text-align: center;
  padding: 1em 1em;
  background-image: -webkit-gradient(linear, left top, right top, from(green), to(yellow));
  background-image: linear-gradient(to right, green, yellow);
  color: white;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: .1em;
  line-height: 2.2em;
}

.cat-video {
  height: 60vh !important;
  width: auto;
  margin: 2em auto;
}

@media (max-width: 990px) {
  .cat-video {
    width: 100%;
    height: auto !important;
  }
}
/*# sourceMappingURL=style.css.map */