@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: 'Montserrat', sans-serif;
}

a {
  cursor: pointer;
}

button {
  border-radius: 0 !important;
}

ul, li {
  list-style: none;
}

ul span, ul i, li span, li i {
  color: #2a824a;
}

/* Carousel styling */
#introCarousel,
.carousel-inner,
.carousel-item,
.carousel-item.active {
  height: 100vh;
}

h1 {
  font-size: clamp(2em, 5vh, 10em) !important;
}

/* Height for devices larger than 576px */
#introCarousel {
  height: calc(100vh - 100px);
}

span {
  font-size: 1.1em;
  color: #fdfdfd;
  font-weight: 800;
}

video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.navbar {
  background-color: #2a824a;
}

.navbar .nav-link {
  color: #fff !important;
  padding: .5em .7em;
}

.navbar .nav-link:hover {
  background-color: #65e007 !important;
}

.mask {
  color: #fafafa;
  text-shadow: 0 0 2px black;
}

.mask h1 {
  text-transform: uppercase;
}

.mask p {
  font-size: clamp(1em, 2vh, 3em);
  margin: .5em 0;
  line-height: 1em;
  color: white;
}

@media (min-width: 990px) {
  .mask p {
    width: 65%;
  }
}

@media (max-width: 990px) {
  #introCarousel {
    margin-top: 0;
  }
  .navbar {
    position: fixed;
    z-index: 2000;
    top: 0;
    width: 100vw;
    display: none !important;
    background-color: white;
  }
  .navbar .navbar-toggler {
    color: #1f1f1f;
  }
  .navbar .nav-link {
    color: #141414 !important;
  }
}

.carousel {
  position: relative;
  overflow: hidden;
  background-image: url("./article.jpg");
  background-size: cover;
}

.carousel .mask {
  background-color: rgba(0, 0, 0, 0.719) !important;
}

.tag {
  text-align: left !important;
  background-color: rgba(41, 204, 54, 0.61);
  display: inline-block;
  padding: .5em 1em;
  text-transform: uppercase;
  font-weight: 600;
}

.logo {
  width: 150px;
  height: 83px;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

button span {
  margin-left: 5px;
}

.dropdown-menu {
  border-radius: 0;
}

.dropdown-menu li {
  border-radius: 0 !important;
  border-bottom: 1px solid #e4e4e4;
}

.dropdown-menu li:hover a {
  border-radius: 0 !important;
  color: white !important;
  background-color: #65e007 !important;
}

.section {
  min-height: 100vh;
  padding: 5em 0;
}

.section .section__title {
  text-align: center;
  font-size: 2em;
  font-weight: 800;
  text-align: left;
  margin: 1.5em 0;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}

.section .section__title::after {
  content: "";
  width: 75%;
  height: 8px;
  background-color: #18cd0a;
  background: linear-gradient(82deg, #161bed, #18cd0a);
  position: absolute;
  left: 0;
  top: 100%;
}

.slick-next, .slick-prev {
  width: 10px;
  height: 100%;
}

.slick-next::after, .slick-next::before, .slick-prev::after, .slick-prev::before {
  color: #2a824a !important;
  border-radius: 0 !important;
}

@media (max-width: 600px) {
  .slick-arrow {
    display: none !important;
  }
  .news__content {
    height: 72vh !important;
  }
}

.news__content {
  position: relative;
  margin: .3em;
  overflow: hidden;
  height: 65vh;
  border: 1px solid lightgray;
  -webkit-box-shadow: 0 0 3px #a8a8a8;
          box-shadow: 0 0 3px #a8a8a8;
}

.news__content .categorie {
  position: absolute;
  top: 0;
  left: 0;
  padding: .3em .5em;
  background-color: var(--mdb-warning);
  color: white;
  font-weight: 300;
  font-size: .8em;
  -webkit-box-shadow: 0 0 15px #5c5c5c;
          box-shadow: 0 0 15px #5c5c5c;
}

.news__content .image {
  height: 100%;
}

.news__content .image img {
  height: 100%;
  -o-object-fit: 100%;
     object-fit: 100%;
}

.news__content:hover > .news-overlay {
  height: 65%;
}

.news__content:hover > .news-overlay h1, .news__content:hover > .news-overlay p, .news__content:hover > .news-overlay button, .news__content:hover > .news-overlay .date {
  display: block;
}

.news__content .news-overlay {
  position: absolute;
  -webkit-transition: height .5s;
  transition: height .5s;
  left: 0;
  right: 0;
  bottom: 0;
  height: 80px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 1em;
  color: #1f1f1f;
}

.news__content .news-overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 110%;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
  background-color: white;
  z-index: 4;
}

.news__content .news-overlay h1 {
  font-size: 1em !important;
  position: relative;
  z-index: 100;
  font-weight: 800;
  font-size: 1.2em;
}

.news__content .news-overlay p {
  font-size: .8em;
  display: none;
}

.news__content .news-overlay .metadata .date {
  font-size: .7em;
  font-weight: 300;
  color: #2e2e2e;
}

.news__content .news-overlay button {
  display: none;
}

.navbar__mobile {
  display: none;
}

.navbar__manu_open, .navbar__manu_close {
  display: none;
}

@media (max-width: 990px) {
  .navbar__manu_open, .navbar__manu_close {
    display: block;
    position: absolute;
    left: 1em;
    top: 1em;
    z-index: 9999;
    background-color: transparent;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
  }
  .navbar__manu_close {
    right: 1em;
    left: auto;
  }
  .navbar__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: -100%;
    top: 0;
    z-index: 99999;
    background-color: var(--mdb-primary);
    height: 100vh;
    width: 100vw;
    padding: 1em;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .navbar__mobile .navbar-nav .nav-link {
    color: white !important;
  }
  .navbar__mobile .logo {
    margin-bottom: 1em;
  }
  .navbar__mobile.navbar-show {
    left: 0;
    width: 100%;
  }
}

.apropos-wrapper {
  background-color: #f5faaa;
  color: #1b1b1b;
  font-size: 1em !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.service {
  border: 1px solid #e4e3e3;
  -webkit-box-shadow: 0 0 75px #ddd;
          box-shadow: 0 0 75px #ddd;
  position: relative;
  padding: 2.5em 1em 1em;
  background-color: #fff;
  border-radius: 5px;
  margin: 2em;
}

.service:hover {
  -webkit-box-shadow: 0 0 20px #999999;
          box-shadow: 0 0 20px #999999;
}

.service:hover .image {
  -webkit-box-shadow: 0 -7px 8px #bdbcbc;
          box-shadow: 0 -7px 8px #bdbcbc;
}

.service .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: -30px;
  left: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 -7px 8px #999999;
          box-shadow: 0 0 -7px 8px #999999;
}

.service .image span {
  color: #2a824a;
}

.service .service_title h2 {
  font-size: clamp(1em, 2vh, 5em);
  font-weight: 700;
}

.service .service_body {
  margin-top: 1em;
}

.service .service_body p {
  font-size: .8em;
}

.apropos {
  font-size: .8em;
  line-height: 2em;
}

.apropos li {
  font-weight: 600;
}

.presence-wrapper {
  background-color: lightgray;
}

.presence {
  border-radius: 50%;
  border: 1px solid lightgray;
  background-color: #fff;
  height: 150px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em;
  -webkit-box-shadow: 3px 5px 10px #8b8b8b;
          box-shadow: 3px 5px 10px #8b8b8b;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.presence img {
  width: 100px;
}

.presence:hover {
  -webkit-box-shadow: 3px 9px 15px #575757;
          box-shadow: 3px 9px 15px #575757;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.presence:hover .mark_metadata {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.presence .mark_metadata {
  display: none;
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  border-radius: 5px;
  -webkit-box-shadow: 3px 5px 10px #8b8b8b;
          box-shadow: 3px 5px 10px #8b8b8b;
  padding: 0.5em 1em;
}

.presence .mark_metadata h5 {
  font-size: .8em;
  padding: 0;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */