$green: #2a824a;


/* Carousel styling */
      #introCarousel,
      .carousel-inner,
      .carousel-item,
      .carousel-item.active {
        height: 100vh;
      }
      h1{
        font-size: clamp(2em, 8vh, 10em) !important;
      }


      /* Height for devices larger than 576px */

        #introCarousel {
          height: calc(100vh - 110px);
        }

      span{
          font-size: 1.1em;
          color: rgb(253, 253, 253);
          font-weight: 800;
      }
      video{
          width: 100%;
          height: 100%;
          object-fit: cover;
      }

      .navbar{
          background-color: $green;
        .nav-link {
            color: #fff !important;
            padding: .5em .7em;
            &:hover{
                background-color: #65e007 !important;
            }
          }
      }

.mask{
    color: rgb(250, 250, 250);
    text-shadow: 0 0 2px black;
    h1{
        text-transform: uppercase;
    }
    p{
        font-size: clamp(1em, 2.5vh, 3em);
        margin: .5em 0;
        line-height: 1em;
        color: rgb(255, 255, 255);

    }
}
@media (min-width: 990px){
    .mask{
        p{
            width: 65%;
        }
    }
}
 @media (max-width: 990px) {
     #introCarousel{
         margin-top: 0;
     }
     .navbar{
         position: fixed;
         z-index: 2000;
         top: 0;
         width: 100vw;
         background-color: rgb(255, 255, 255);
        .navbar-toggler{
            color: rgb(31, 31, 31);
        }
         .nav-link{
             color: rgb(20, 20, 20) !important;
         }
     }
 }
.carousel{
    position: relative;
    overflow: hidden;
    background-image: url('./article.jpg');
    background-size: cover;
    .mask{
        background-color: rgba(0, 0, 0, 0.719) !important;
    }
}

.tag{
    text-align: left !important;
    background-color: rgba(41, 204, 54, 0.61);
    display: inline-block;
    padding: .5em 1em;
    text-transform: uppercase;
    font-weight: 600;
}

.logo{
    width: 150px;
    height: 83px;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

button span{
    margin-left: 5px;
}

.dropdown-menu{
    border-radius: 0;
    li{
        border-radius: 0 !important;
        border-bottom: 1px solid rgb(228, 228, 228);
        &:hover a{
            border-radius: 0 !important;
            color: white !important;
            background-color: #65e007 !important;
        }
    }
}

a{
    cursor: pointer;
}
button{
    border-radius: 0 !important;
}